<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% block dependencies %} {% endblock %}

    <title>{% block title %}{% endblock title %}</title>
  </head>

  <body>
    <nav>
      <div class="logo">
        <h4>Stephan's Corner</h4>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/index.html">Home</a>
        </li>
        <li>
          <a href="#">About - CV</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Contact </a>
        </li>
      </ul>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </nav>

    {% block sitecontent %}{% endblock sitecontent %}

    <footer>
      <div id="footer" class="footer">
        <div id="copyright"></div>
        <div id="footer__social">
          <ul class="footer_list">
            <li id="footer_github" class="footer_social_icon">
              <a href="https://github.com/acmbo" class="fa fa-github"></a>
            </li>
            <li id="footer_linkedIn" class="footer_social_icon">
              <a
                href="https://at.linkedin.com/in/stephan-wegewitz-414889196"
                class="fa fa-linkedin"
              ></a>
            </li>
            <li id="footer_Xing" class="footer_social_icon">
              <a
                href="https://www.xing.com/profile/Stephan_Wegewitz"
                class="fa fa-xing"
              ></a>
            </li>
            <li id="footer_instagramm" class="footer_social_icon">
              <a
                href="https://www.instagram.com/acmboart/"
                class="fa fa-instagram"
              ></a>
            </li>
          </ul>
          <div id="info">
            <p>Author: Stephan Wegewitz</p>
            <!--<p><a href="mailto:hege@example.com">hege@example.com</a></p>-->
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='scripts/nav.js') }}"></script>
  </body>
</html>
