
{% extends 'blog/blogbase.html' %}

{% block dependencies %} 
<link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
{% endblock %}

{% block title %} Stephan's Corner {% endblock title %}

{% block sitecontent %}
<!-- Homepage with Content -->

<main>
    <div class="row p-5">

        <h2 class="pb-2"> Add Blogpost </h2>

        <div class="col-md-6 offset-md-3 align-self-center">

            <form method="POST" action="{{ url_for('blog.create_post') }}">
                {{ form.csrf_token }}

                <div class="form-group pt-2">
                    {{ form.title.label }} {{ form.title(class="form-control", size=20) }}

                    {% if form.title.errors %}
                    <ul class="errors">
                        {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>


                <div class="form-group pt-2">

                    {{ form.Tags.label }} 
                    {{ form.Tags(class="form-control", size=40) }}

                    {% if form.Tags.errors %}
                    <ul class="errors">
                        {% for error in form.Tags.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>


                <div class="form-group pt-2">

                    {{ form.contenthtml.label }} {{ form.contenthtml(id="test", class="form-control",rows="3") }}

                    {% if form.contenthtml.errors %}
                    <ul class="errors">
                        {% for error in form.contenthtml.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>



                <div class="form-group pt-2">
                    {{ form.autor.label }} {{ form.autor(class="form-control", size=40) }}

                    {% if form.autor.errors %}
                    <ul class="errors">
                        {% for error in form.autor.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>


                <div class="form-group pt-2">
                    {{ form.password.label }} {{ form.password(class="form-control", type="password", size=40) }}

                    {% if form.password.errors %}
                    <ul class="errors">
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
                
                {{ form.file }}

                <div id="submitbutton" class="pt-3 pb-3 pull-right">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
                

            </form>
    
        </div>

        <h3>Other links</h3>

        <div class="col-md-6 offset-md-3 align-self-center">
            <ul>
                <li> <a href="{{ url_for('metaapi.scrappermeta_open') }}">All Articles</a></li>
            </ul>
           
        </div>
    </div>



</main>


{% endblock sitecontent %} 

{% block dependenciesEnd %}{% endblock dependenciesEnd %}