
{% extends 'base.html' %}

{% block dependencies %} 
<link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />
{% endblock %}

{% block title %} Homepage{% endblock title %}

{% block sitecontent %}
<!-- Content of Contact Page-->

<main>
    <div class="container-fluid">
        
        <form>
            <div class="container">
                <div class="row gy-2 mt-3">
                    <h2>Contact</h2>
                    <p>Send me a message if you like to contact me or have a request.</p>
                </div>
                <div class="row gy-2 mt-3">
                    <form action="/action_page.php" method="get">
                    <div class="form-group">
                        <label for="TargetEmailSC">Recipient</label>
                        <input id="TargetEmailSC" class="form-control" type="text" placeholder="info@stephancorner.de" readonly>
                    </div>

                    <div class="form-group">
                        <label for="EmailInput">Contact email address</label>
                        <input type="email" class="form-control" id="EmailInput" placeholder="Your Email">
                    </div>

                    <div class="form-group">
                        <label for="SubjectInput">Subject</label>
                        <input type="email" class="form-control" id="SubjectInput" placeholder="Add Subject">
                        </div>

                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message content</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" formmethod="post" class="btn btn-primary mb-2 mt-3 mb-5" style="width:5rem">Submit using POST</button>
                </form> 
                </div>
            </div>
        </form>
    </div>
    <div style="width:100%; height: 1rem">

    </div>
</main>

{% endblock sitecontent %} 

{% block dependenciesEnd %}{% endblock dependenciesEnd %}