
{% extends 'base.html' %}

{% block dependencies %} 
<link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

<style>
    .section {
        z-index: 0;
    }

    button a {
        text-decoration:none;
        color: gray;
    }

    .btn-primary {
        color: #fff;
        background-color: #1f3144;
        border-color: #1f3144;
      }

    .btn-primary:hover {
        background-color: #508EB7;
        border-color: #508EB7;
    }

    .bg-light{
        background-color: rgba(0,0,0,0)!important
    }

    .sitecontainer {
        background:
            linear-gradient(90deg, rgba(2,0,36,0.3) 0%, rgba(102,122,175,0.3) 25%, rgba(177,217,254,0.3) 64%, rgba(103,202,222,0.3) 100%),
            radial-gradient(circle at top, rgba(168,201,183,0.45), rgba(103,202,222,0.3) 33%, rgba(2,0,36, 0.3) 100%);
        background-blend-mode: screen;
        height:100%!important
    }

    .card {
        background-color: rgba(255, 255, 255, 0.3);
    }

    .album {
        background-color: rgba(255, 255, 255, 0.1);
    }

</style>
{% endblock %}

{% block title %} Stephan's Corner {% endblock title %}

{% block sitecontent %}
<!-- Homepage with Content -->

<main>
    <!-- MainContainer for size-->
    <div class="min-vh-100">
        {% if authenticated %}
        <a href="{{url_for('Userpage.blub') }}">Protected Page</a>
        {% else %}
        <a href="{{url_for('Homepage.login') }}">Login</a>
        {% endif %}
        <div id="headimgcont"></div>
        <section id="masthead" class="py-5 pl-0 pr-0 text-center container bg-transparent">
            <div class="row py-lg-5" >
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="pb-3 fw-light text-light">Stephan's Corner</h1>
                    <p class="lead text-light">Engineer | Projects | Art </p>
                    <p>
                    <a href="{{url_for('Homepage.about_page') }}" class="btn btn-primary my-2" style="width: 175px;">About the Author</a>
                    <a href="{{url_for('Homepage.dashboardDWabout_page') }}" class="btn btn-primary my-2" style="width: 175px;">DW-Mining</a>
                    </p>
                </div>
            </div>
        </section>

        <section id="BlogAlbum">
            <div class="album py-5 bg-transparent">
                <div class="container">

                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        
                        {% for post in  posts%}
                        <div class="col">
                            <div class="card shadow-sm">

                                <img src="{{ url_for( post['thumbnailpath'][1], filename=post['thumbnailpath'][2] ) }}" alt="{{ post['picdescription'] }}">

                                <div class="card-body">
                                    <p class="card-text"><strong>{{ post["title"] }}</strong></p>
                                    
                                    {% if post["shortdescription"] and post["shortdescription"]!= "" %}
                                        <p class="card-text">{{ post["shortdescription"] }}</p>
                                    {% endif %}

                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-outline-secondary"><a href="{{ url_for('blog.post', title=post["title"] )}}">View</a></button>
                                        </div>
                                        <small class="text-muted">9 mins</small>
                                    </div>
                                    <a href="{{ url_for('blog.post', title=post["title"] )}}" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}


                    </div>
                </div>
            </div>
        </section>

    </div>
    <!--End  MainContainer for size-->
</main>


{% endblock sitecontent %} 

{% block dependenciesEnd %}{% endblock dependenciesEnd %}