{% extends 'base.html' %}

{% block dependencies %} 
<link rel= "stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/style.css') }}" />

{% endblock %}

{% block title %} Homepage{% endblock title %}

{% block sitecontent %}
<!--
<h1>Hello World</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam debitis error aspernatur, id aut odio deserunt unde quaerat, numquam nulla distinctio eveniet explicabo fuga neque, illum velit! Reiciendis, eligendi ipsam.
</p>
-->
{% endblock sitecontent %} 